<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_of_exercise %>
    <%= form.text_field :type_of_exercise %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div>
  <%= form.label :date %>
  <%= form.text_field :date, class: "datepicker" %>
  </div>

  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn-large" %>
  </div>
<% end %>

