
<%= link_to 'Profile', workouts_path, data: {toggle: "modal", target: "#modal1"}, class: "waves-effect waves-light btn modal-trigger" %>
 

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
    <img id="profile-pic" class="circle responsive-img" src="/joe.jpg">
      <h3>Joey Tribbiani</h3>
      <h5>Age: 8 yrs</h5>
      <h5>Weight: 72 lbs</h5>
      <h5>Breed: I'm a lot of things</h5>
      <p> About me: I looooove my parents. Especially mom. We go on walks all the time! I also have a brother who I love but he beats me up sometimes. Sometimes I starve myself hoping my parents give me human food. It's worth the wait!!!
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  

<div class="header">
<h2> <%= Date.today.strftime("%B %d, %Y") %> </h2>
</div>




<%= pie_chart @data, donut: true, colors: ["#fd7c6e", "#fd9b8f", "#fde2b4", "#49c5ce", "#006d99" ] %>


<p id="notice"><%= notice %></p>

<table class="highlight">
  <thead>
    <tr>
      <th scope="col">Type of Exercise</th>
      <th scope="col">Minutes</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  <% @workouts.each do |workout| %>
    <tr>
    
      <td><%= workout.type_of_exercise %></td>
      <td><%= workout.minutes %></td>
      <td><%= workout.date %></td>
      <!-- <td><%= link_to 'See Workout', workout %></td> -->
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Delete', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    
  </tbody>
<% end %>
</table>




<br>

<div class="fixed-action-btn">
    <%= link_to '+', new_workout_path, class: "btn-floating btn-large waves-effect waves-light blue" %>
    </div>

   

    



